DATABASE_URL=
SESSION_SECRET=
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_PLATFORM_TREASURY=
NEXT_PUBLIC_PLATFORM_FEE_BPS=250
NEXT_PUBLIC_SITE_URL=http://localhost:3000
